.card-info {
  color:black;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  .card__image {
    margin: 0 auto;
    height: 200px;
    width: 162px;
    padding-top: 25px;
  }

  &__container {
    padding: 10px;
    span {
      display: contents;
      color: gray;
    }
    span:not(:last-child)::after {
      content: ", ";
    }
    p {
      font-weight: bold;
    }
    p,
    span {
      font-family: "Arkhip";
      font-size: 16px;
    }
    &-tags {
      text-decoration: underline;
    }
  }
}
